<ion-header>
  <ion-navbar>
    <ion-title>Enviar notificación</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h3 text-center>{{ asignatura?.nombre }}</h3>
  <ion-list>
    <ion-item>
      <ion-label color="dark" stacked>Tipo</ion-label>
      <ion-select [(ngModel)]="notificacion.tipo" placeholder="Tipo" required>
        <ion-option *ngFor="let item of tipos" [value]="item?.tipo">{{ item?.nombre }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="dark" stacked>Mensaje</ion-label>
      <ion-textarea [(ngModel)]="notificacion.mensaje" placeholder="Texto de la notificación" rows="5" maxlength="100" required></ion-textarea>
    </ion-item>
    <ion-item *ngIf="tipo == 'enlace'">
      <ion-label color="dark" stacked>Enlace</ion-label>
      <ion-input type="text" value="" placeholder="http://..." required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark">¿Enviar a todos?</ion-label>
      <ion-checkbox color="dark" [(ngModel)]="lista"></ion-checkbox>
    </ion-item>
    <ion-item *ngIf="!lista">
      <ion-label color="dark" stacked>Estudiantes</ion-label>
      <ion-select [(ngModel)]="notificacion.estudiantes" multiple="true" required>
        <ion-option *ngFor="let item of estudiantes" [value]="item?.correo">{{ item?.nombre }}</ion-option>
      </ion-select>
    </ion-item>
    <div text-right>
      <button ion-button block icon-end class="btn-app" (click)="enviarNotificacion()">
        Enviar
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </div>
  </ion-list>
</ion-content>