<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Enlaces</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div>
    <ion-searchbar
      placeholder="Buscar enlace"
      [(ngModel)]="str_enlace"
      [showCancelButton]="true"
      (ionInput)="buscarEnlace($event)"
      (ionCancel)="cancelarBusqueda($event)">
    </ion-searchbar>
  </div>
  <p *ngIf="enlacesFiltrados?.length == 0" text-center>
    <ion-icon name="information-circle"></ion-icon>&nbsp;
    No existen enlaces a mostrar.
  </p>
  <div *ngFor="let item of enlacesFiltrados">
    <button ion-button block (click)="abrirEnlace(item.enlace)" class="btn-app">
      <ion-icon name="link"></ion-icon>&nbsp;
        {{ item.nombre }}
    </button>
  </div>
</ion-content>