<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Asignaturas</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <sin-registros mensaje="No tienes asignaturas inscritas." *ngIf="asignaturas?.length == 0"></sin-registros>
  <ion-card *ngFor="let item of asignaturas" (click)="verMenuAsignatura(item)" class="asignatura-item">
    <ion-card-content>
      <ion-grid>
        <ion-row style="align-items: center">
          <ion-col text-left col-10>
            <h2 class="asignatura-titulo" text-wrap>{{ item?.codigo }} - {{ item?.nombre }}</h2>
            <p class="asignatura-texto" text-wrap>{{ item?.carrera }}</p>
          </ion-col>
          <ion-col text-right col-2>
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <p class="text-app" text-justify>Para más información, puedes ingresar al Portal Académico.</p>
  <button ion-button block (click)="portalAcademico()" class="btn-app">
    <ion-icon name="contact"></ion-icon>&nbsp;
    Portal Académico
  </button>
</ion-content>