page-asignaturas {
  .asignatura-item {
    border-radius: 5px;
    background-color: $theme-color-2;
    color: $white;

    .asignatura-titulo {
      color: $white;
      font-weight: 500;
    }

    .asignatura-texto {
      color: #CCCCCC;
    }
  }
}
