<div class="sinregistros-list">
  <ion-item class="sinregistros-item">
    <ion-grid>
      <ion-row>
        <ion-column col-12 class="sinregistros-data">
          <div class="data-item">
            <div class="item-content">
              <div class="item-description">
                <ion-icon class="description-icon" name="information-circle"></ion-icon>
                <p class="description-text">{{ mensaje }}</p>
              </div>
            </div>
          </div>
        </ion-column>
      </ion-row>
    </ion-grid>
  </ion-item>
</div>