<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Saldos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <!-- ion-card *ngIf="deudas?.gratuidad" class="deudas-item">
    <ion-item>
      <h2 text-wrap class="gratuidad-titulo">Gratuidad</h2>
      <p text-wrap class="gratuidad-texto">{{ deudas?.gratuidad ? 'SÍ tienes gratuidad.' : 'NO tienes gratuidad.' }}</p>
    </ion-item>
  </ion-card-->
  <ion-card *ngIf="deudas?.saldoBoleta >= 0" class="deudas-item">
    <ion-item>
      <h2 text-wrap class="saldo-titulo">Saldo boleta</h2>
      <p text-wrap class="saldo-texto">{{ deudas?.saldoBoleta | formatoPesos }}</p>
    </ion-item>
  </ion-card>
  <ion-card *ngIf="deudas?.saldoHistorico >= 0" class="deudas-item">
    <ion-item>
      <h2 text-wrap class="saldo-titulo">Saldo histórico</h2>
      <p text-wrap class="saldo-texto">{{ deudas?.saldoHistorico | formatoPesos }}</p>
    </ion-item>
  </ion-card>
  <p text-justify class="text-app">
    En caso de consultas, puedes contactar a la Unidad de Aranceles.
  </p>
  <button ion-button block (click)="aranceles()" class="btn-app">
    Aranceles
  </button>
  <p text-justify class="text-app">
    Dudas o consultas de saldos, a los siguientes números.
  </p>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label col-3>Teléfono</ion-label>
          <ion-select col-9 interface="popover" [(ngModel)]="numeroSeleccionado">
            <ion-option *ngFor="let item of numeros" value="{{ item.numero }}">{{ item.texto }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="llamarAranceles()" class="btn-app">
          <ion-icon name="call"></ion-icon>&nbsp;
          Llamar
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p text-justify class="text-app">
    Detalle de tu saldo histórico en el menú <b>Ficha Arancelaria</b>.
  </p>
  <button ion-button block (click)="portalAcademico()" class="btn-app">
    <ion-icon name="contact"></ion-icon>&nbsp;
    Portal Académico
  </button>
</ion-content>