<ion-content>
  <div class="credencial-anverso" #anverso>
    <ion-grid class="credencial-informacion" #informacion [style.width]="width + 'px'" [style.height]="height + 'px'">
      <ion-row>
        <ion-col col-8>
        </ion-col>
        <ion-col col-4 text-center>
          <img [src]="credencial?.foto" onError="this.src='./assets/images/credencial/usuario.png';" class="credencial-img" />
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 10%">
        <ion-col col-4>
          <div>
            <qr-code [(value)]="QRData" [size]="120"></qr-code>
          </div>
        </ion-col>
        <ion-col class="credencial-datos" col-8>
          <div class="credencial-nombre" text-wrap>{{ credencial?.nombre }}</div>
          <div class="credencial-carrera" text-wrap>{{ credencial?.carrera }}</div>
          <div class="credencial-run">{{ credencial?.run }}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

